@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.userName {
	max-width: 200%;
	max-height: 200%;
    color: black;
}
.user-name{
	font-size: 250%;
	border: 2px solid white;
	border-radius: 25px;
	max-width: 40%;
	padding: 0;
}

.user-image{
	width: 25%;
	height: 25%;
	margin: 5px 0 5px 0;
}

.user-image:hover{
	border-style: solid;
	border-width: 5px;
	border-color: white;
	padding: -5px;
	opacity: 0.5;
}

.goal-headline{
	margin: 2%;
	border: 2px solid white;
	border-radius: 50px;
	box-shadow: 2px 5px 5px black;
	background-color: white
}

.custom-font{
	font-family: 'Montserrat', sans-serif;
	font-size: 200%;
}

.user-name-font{
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;	
	padding: 0;
	margin-bottom: 0;
}

.edit-userName{
	font-size: 40%;
	background-color: rgb(255, 0, 0);
	border: none;
	border-radius: 50px;
	color: white;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 2px 5px 5px black;
}
.edit-goal{
	font-size: 50%;
	background-color: rgb(255, 0, 0);
	border: none;
	border-radius: 50px;
	color: white;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 2px 5px 5px black;
}
#userName-input{
	margin: 1%;
}

.text-input{
	display: inline-block;
	background: linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
	width: 50%;
	margin: 20px;
}

.jumbotron {
    background-color: rgb(175,238,238) !important;
}
