.App {
  text-align: center;
}
#LogIn{
	background-color: #f2eee5; 
}
#SignUp{
	background-color:#c2e8ce; 
}
#Button{
	background:#e3b04b;
	color: #FFFF;
}
#signupbutton{
	background: #4b8e8d;
}
#signupback{
 	background-image: url("./images/background.png");
	background-color: #cccccc;
}
#avoidfooter{
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}