.brand {
  height: 60px;
}

.big-header {
  margin-top: 15px;
  margin-left: 60px;
  font-size: 40px;
}

.home {

  margin-left: 650px;
  font-size: 30px;
}

.timeline {
  margin-left: 15px;
  font-size: 30px;
}

.goals {
  margin-left: 15px;
  font-size: 30px;
}
