.brand {
  height: 60px;
}

.big-header {
  margin-left: 60px;
  font-size: 40px;
}

.nav-page {
  margin-right: 20px;
  font-size: 30px;
}

.nav-page > .active > a {
  color: aqua !important;
  background-color: chartreuse;    
}
#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #396362;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #396362;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
   opacity: 0.7;
  font-family: Helvetica, sans-serif;
   font-size: 20px;
}

#tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent  #396362 transparent;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}